var assistir = document.querySelector(".assistir")
var assistido = document.querySelector(".assistido")

  $(".movie-<%= @movie.id%>").remove()
  var html = `
  <div class="card movie-<%= @movie.id%>" style="width: 18rem; margin: 6px;">
    <img src="<%= exibir_poster(@movie.poster_path)%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title btn btn-light" data-toggle="modal" data-target="#exampleModal"><%= @movie.title%></h5>
      <p class="card-text"> <%= @movie.overview%></p>
      <%= link_to 'Deletar da lista', movie_path(id: @movie.id,profile_id: @profile.id), class: 'btn btn-dark float-right', method: :delete %>

      <%= link_to 'Assistido', movies_path(profile_id: @movie.id, id: @movie.api_id, profile_id: @profile.id, status: "watched"), class: 'btn btn-warning', method: :post, 'data-remote': true  if @movie.to_watch? %> 
    </div>
  </div>
  `
  <% if @movie.to_watch? %>
    assistir.innerHTML += html
  <% else %>
    assistido.innerHTML += html
  <% end %>
  