<h1> Olá, <%= @profile.name %>!</h1>

<%= link_to 'Voltar', root_path, method: :get, class: 'button is-light' %>

<%= link_to 'Deletar perfil', profile_path(@profile.id), class: 'btn btn-dark float-right', method: :delete %>

 </br></br>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#busca">Buscar</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#assistido">Assistidos</a>
  </li>

  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#assistir">Assistir</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="busca" role="tabpanel">
    <%= form_with url:  search_movies_path, method: :get  do |form|%>
    <!-- input escondido com o nome :profile_id que passa como valor o id do perfil (utilizar quando quer passar algo e não mostrar na tela) -->
      <%= form.hidden_field :profile_id, value: @profile.id %>
      <div class="input-group mb-3">
        <%= form.text_field :filme, class:'form-control', placeholder: 'Buscar filmes', 'aria-label': 'Buscar filmes' %>
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">Buscar</button>
        </div>
      </div>
    <% end %>
    <div class="resultado row justify-content-center">
    </div>
  </div>


  <div class="tab-pane fade" id="assistido" role="tabpanel">        
    <div class="row justify-content-center assistido">
       <% @movies.select(&:watched?).each do |movie| %>

      <div class="card movie-<%=movie.id%>" style="width: 18rem; margin: 6px;">
        <img src="<%= exibir_poster(movie.poster_path)%>" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title btn btn-light" data-toggle="modal" data-target="#exampleModal"><%= movie.title%></h5>
          <p class="card-text"><%= movie.overview%></p>
          <%= link_to 'Deletar da lista', movie_path(id: movie.id,profile_id: @profile.id), class: 'btn btn-dark float-right', method: :delete %>
        </div>
      </div>
     <%end%>
      
    </div>
  </div>

  <div class="tab-pane fade" id="assistir" role="tabpanel" aria-labelledby="contact-tab">
  <div class="row justify-content-center assistir">
     <% @movies.select(&:to_watch?).each do |movie| %>

      <div class="card movie-<%= movie.id%>" style="width: 18rem; margin: 6px;">
        <img src="<%= exibir_poster(movie.poster_path)%>" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title btn btn-light" data-toggle="modal" data-target="#exampleModal"><%= movie.title%></h5>
          <p class="card-text"><%= movie.overview%></p>
          <%= link_to 'Deletar da lista', movie_path(id: movie.id,profile_id: @profile.id), class: 'btn btn-dark float-right', method: :delete %>

          <%= link_to 'Assistido', movies_path(movie: movie.id, profile_id: @profile_id, status: "watched"), class: 'btn btn-warning', method: :post, 'data-remote': true  %>
        </div>
      </div>
     <%end%>
  </div>
  
  <div>
  
</div>






