var resultado = document.querySelector(".resultado")
var img = "https://www.joblo.com/assets/images/joblo/database-specific-img-225x333.jpg"

var movies = ""
<% @movies['results'].each do |item| %>
    var cadaFilme = <%= raw item.to_json %>
    console.log(cadaFilme)
    
  var html = `
  <div class="card" style="width: 18rem; margin: 6px;">
    <img src="<%= exibir_poster(item["poster_path"])%>" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title btn btn-light" data-toggle="modal" data-target="#exampleModal-<%= item["id"]%>">${cadaFilme.title}</h5>
      <p class="card-text">${cadaFilme.overview}</p>
    </div>
  </div>
    
  <div class="modal fade" id="exampleModal-<%= item["id"]%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
            <strong><%= item["title"]%></strong></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <p><strong> Idioma Original: </strong> <%= item["original_language"] %></p>
            <p><strong> Data de lançamento: </strong><%= item["release_date"]%></p>
            <p><strong> Popularidade: </strong><%= item["popularity"]%></p>
            <p><strong> Resumo:</strong> <%= item["overview"]%> </p>
          </div>

          <div class="modal-footer">
            <%= link_to 'Assistir', watch_movies_path(item.merge(profile_id: @profile_id)), class:'btn btn-success', method: :post, 'data-remote': true  %>
            <%= link_to 'Assistido', watched_movies_path(item.merge(profile_id: @profile_id)), class:'btn btn-warning', method: :post, 'data-romote': true %>
          </div>

        </div>
      </div>
  </div>
  `

 // marge junta dois hash

  movies += html
<% end %>

resultado.innerHTML = movies



