<!DOCTYPE html>
<html>
  <head>
    <title>ListFilmsApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">List Movies</a>
      <%= link_to 'Sign out', destroy_user_session_path, class: 'btn btn-dark', method: :delete if current_user %>
    </nav>
    
    <div class="flash-message">
      <%= render 'layouts/flash' %>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
